

<div class="row container mt-4">

    <div class="col-3 ">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col">
        <router-outlet></router-outlet> 
    </div>

</div>










<!-- 

    !Notas
    99. el router-outlet es para que tome los o renderice las rutas en ese segmento

    100. RouterLink -> manda a llamar los path del router link para que lleve a la ruta que quiera y deba ser 

    100. [routerLinkActiveOptions]="{exact: true}" para que quede señale solo la pestaña que seleccione, ESTO SE HACE CUANDO TENGO UN PATH VACIO
     



 -->